.agreement-block 
    box-sizing: border-box
    padding: 37px 57px
    max-height: calc(100% - 120px)
    font-size: 16px
    line-height: 20px
    overflow-y: auto

    @media (max-width: $screenXS)
        padding-top: 70px
        padding-left: 30px
        padding-right: 30px

    @media (max-width: $screenXXS)
        padding-top: 40px
        padding-bottom: 0
        padding-left: 15px
        padding-right: 15px
        font-size: 13px
        line-height: 18px

    p 
        margin: 0 0 20px

        @media (max-width: $screenXXS)
            margin-bottom: 15px

    ul 
        @include list-reset
        margin-bottom: 60px

        @media (max-width: $screenXXS)
            margin-bottom: 20px

    li
        margin-bottom: 20px

        @media (max-width: $screenXXS)
            margin-bottom: 15px

.button-block
    display: flex 
    justify-content: center
    box-sizing: border-box
    padding: 20px 57px
    height: 106px
    min-height: 106px

    @media (max-width: $screenXXS)
        height: 84px
        min-height: 84px