.btn 
    @include btn-reset
    @include hover
    box-sizing: border-box
    display: inline-block
    vertical-align: top
    padding: 15px
    text-transform: uppercase
    text-align: center
    font-weight: 700
    color: $red
    font-size: 18px
    line-height: 30px
    background-color: #fff

    @media (max-width: $screenXS)
        padding: 18px 15px
        font-size: 22px

    @media (max-width: $screenXXS)
        padding: 9px 8px
        font-size: 11px
        line-height: 15px

    &--red 
        background-color: $red 
        color: #fff

        &.disabled 
            background-color: #484848
            pointer-events: none

    &--bordered 
        padding: 14px
        background-color: $transparent
        border: 1px solid $red

    &--vk 
        color: #fff
        background-color: #5181b8

    &--fb 
        color: #fff
        background-color: #3b5998

    &--lowercase 
        text-transform: initial
        font-weight: 400
        color: $textColor