.form

    ::-webkit-input-placeholder
        color: #000
        opacity: 0.5
    :-moz-placeholder
        color: #000
        opacity: 0.5
    ::-moz-placeholder
        color: #000
        opacity: 0.5
    :-ms-input-placeholder
        color: #000
        opacity: 0.5

    &__wrap-small
        margin-right: 14px
        width: calc(50% - 7px)

        @media (max-width: $screenXS)
            margin-right: 0
            width: 100%

        input:first-child
            width: calc(36% - 7px)

            @media (max-width: $screenXS)
                width: 100%

        input:last-child
            width: 59.6%

            @media (max-width: $screenXS)
                width: 100%

    &__row 
        display: flex 
        align-items: flex-start
        justify-content: flex-start
        width: 100%

        &._picker 

            @media (max-width: $screenXXS)
                display: block

            .form__field-wrapper 
                width: auto

                @media (max-width: $screenXS)
                    padding-left: 42px
                    padding-right: 32px

                @media (max-width: $screenXXS)
                    padding-left: 0
                    padding-right: 10px

    &__field-wrapper
        position: relative
        width: 100%

    &__radio-label 
        position: relative
        display: inline-block
        vertical-align: top
        box-sizing: border-box
        margin-bottom: 15px
        padding-left: 29px
        min-width: 155px
        font-size: 14px
        line-height: 18px

        @media (max-width: $screenXS)
            margin-bottom: 30px
            padding-left: 45px
            font-size: 24px
            line-height: 32px

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            padding-left: 40px
            font-size: 14px
            line-height: 24px

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 16px
            height: 16px
            border: 1px solid $red
            border-radius: 50%
            transition: background-color 0.3s ease

            @media (max-width: $screenXS)
                width: 30px
                height: 30px

            @media (max-width: $screenXXS)
                width: 22px
                height: 22px

    input[type="radio"]:checked + label:before 
        background-color: $red

    &__fieldset
        display: flex 
        flex-wrap: wrap
        max-width: 100%

        @media (max-width: $screenXS)
            display: block

        .form__field 
            margin-right: 14px
            width: calc(50% - 7px)

            @media (max-width: $screenXS)
                margin-right: 0
                width: 100%

            &:nth-child(even)
                margin-right: 0

    &__field 
        @include field-reset
        flex: none
        margin-bottom: 12px
        box-sizing: border-box
        padding: 10px 19px
        width: 100%
        height: 46px
        font-size: 16px
        line-height: 24px
        border: 1px solid $red

        @media (max-width: $screenXS)
            margin-bottom: 20px
            padding: 20px
            height: 64px
            font-size: 24px

        @media (max-width: $screenXXS)
            margin-bottom: 10px
            padding: 10px
            height: 44px
            font-size: 14px

        &._error 
            padding: 9px 18px
            background-color: #fae6ea
            border: 2px solid $red

            @media (max-width: $screenXS)
                padding: 19px

            @media (max-width: $screenXXS)
                padding: 9px

    &__headline 
        display: flex 
        align-items: center
        margin-top: 32px
        margin-bottom: 17px
        width: 100%
        font-size: 16px
        line-height: 20px

        @media (max-width: $screenXS)
            margin-bottom: 24px
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            margin-top: 20px
            font-size: 14px
            line-height: 20px

        .question
            //@include hover
            display: inline
            position: relative
            vertical-align: top
            margin-left: 8px
            width: 14px
            height: 14px
            text-align: center
            font-weight: 500
            font-size: 14px
            line-height: 14px
            color: $red
            border: 1px solid $red
            border-radius: 50%

            @media (max-width: $screenXS)
                vertical-align: middle
                width: 30px
                min-width: 30px
                height: 30px
                font-size: 28px
                line-height: 30px
                border-width: 2px

            i
                font-style: normal
                cursor: pointer

                &:hover ~ .tooltip
                    z-index: 1
                    opacity: 1

    &__message
        @include field-reset
        flex: none
        margin-bottom: 12px
        box-sizing: border-box
        padding: 10px 19px
        width: 100%
        min-height: 80px
        font-size: 16px
        line-height: 24px
        border: 1px solid $red
        resize: none

        @media (max-width: $screenXS)
            margin-bottom: 26px
            padding: 20px
            min-height: 230px
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            padding: 10px
            min-height: 104px
            font-size: 14px
            line-height: 20px

        ._question & 
            min-height: 104px 

        &._error 
            padding: 9px 18px
            background-color: #fae6ea
            border: 2px solid $red

    &__checkbox-label
        position: relative
        display: block
        margin-bottom: 7px
        padding-left: 20px
        font-size: 12px
        line-height: 13px
        color: rgba(0, 0, 0, .5)

        @media (max-width: $screenXS)
            margin-bottom: 32px
            padding-left: 45px
            font-size: 24px
            line-height: 26px

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            padding-left: 34px
            font-size: 14px
            line-height: 20px

        a 
            @include hover
            color: rgba(0, 0, 0, .5)
            border-bottom: 1px solid rgba(0, 0, 0, .5)

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 8px
            height: 8px
            border: 1px solid $red

            @media (max-width: $screenXS)
                width: 28px
                height: 28px

            @media (max-width: $screenXXS)
                width: 20px
                height: 20px

    input[type="checkbox"]:checked + label:after 
        content: ""
        position: absolute
        top: 2px
        left: 3px
        width: 2px
        height: 4px
        border-top: 1px solid $red
        border-left: 1px solid $red
        transform: rotate(-135deg)

        @media (max-width: $screenXS)
            top: -12px
            left: 12px
            width: 15px
            height: 30px

        @media (max-width: $screenXXS)
            top: -9px
            left: 10px
            width: 12px
            height: 22px

    &__submit 
        margin-top: 18px
        margin-bottom: 15px
        min-width: 330px

        @media (max-width: $screenXS)
            min-width: 380px

        @media (max-width: $screenXXS)
            padding: 12px
            min-width: 100%
            font-size: 14px
            line-height: 20px

    &__note 
        margin: 0 0 20px
        text-align: center
        font-size: 16px
        line-height: 20px

        @media (max-width: $screenXS)
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            font-size: 14px
            line-height: 18px

    &__link 
        @include hover
        text-align: center
        text-transform: uppercase
        font-size: 13px
        line-height: 16px
        color: $red

        @media (max-width: $screenXS)
            font-size: 20px
            line-height: 24px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 20px

        span 
            border-bottom: 1px solid $red

    &__upload-block 
        margin-top: 23px
        margin-bottom: 10px
        box-sizing: border-box
        padding: 3px 
        padding-left: 20px
        width: 100%
        max-width: 100%
        @include row-component
        border: 1px solid $red

        @media (max-width: $screenXS)
            margin-bottom: 30px
            padding: 6px
            padding-left: 20px

        @media (max-width: $screenXXS)
            margin-top: 0
            padding-left: 10px

    &__upload-label 
        margin: 0
        margin-right: 20px
        font-size: 16px
        line-height: 20px
        color: rgba(0, 0, 0, .5)

        @media (max-width: $screenXS)
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            font-size: 14px
            line-height: 20px

    &__upload 
        position: relative
        flex-grow: 1

    &__file 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 0

        &:hover + .upload__link 
            opacity: 0.7

    &__upload-link 
        padding: 9px 15px
        box-sizing: border-box
        width: 100%
        text-align: center
        font-size: 16px
        line-height: 20px
        color: #fff 
        background-color: $red
        transition: opacity 0.3s ease

        @media (max-width: $screenXS)
            padding: 15px
            font-size: 20px
            line-height: 30px

        @media (max-width: $screenXXS)
            padding: 10px
            font-size: 16px
            line-height: 20px

    .captcha-block
        margin-bottom: 22px

        @media (max-width: $screenXXS)
            max-width: 100%
            overflow: hidden

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button
    display: none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0

input[type="number"]
    -moz-appearance: textfield

.search-form 
    margin: 0 auto 
    width: 380px

    @media (max-width: $screenXXS)
        width: 100%

    .form__field-wrapper 
        width: 100%

    .form__field 
        margin-bottom: 0
        padding: 17px 28px
        width: 100%
        height: 60px
        font-size: 18px
        color: $red

        @media (max-width: $screenXS)
            padding: 20px
            height: 64px
            font-size: 24px
            line-height: 24px

        @media (max-width: $screenXXS)
            padding: 10px
            height: 44px
            font-size: 14px
            line-height: 24px

.search-block
    position: relative
    margin-top: 20px

    &__dropdown
        position: absolute
        top: 100%
        left: 0
        right: 0
        max-height: 0
        background-color: #fff
        overflow: hidden 
        transition: max-height 0.3s ease

        &.show 
            max-height: 10000px

.dropdown-list
    @include list-reset
    border: 1px solid $red
    border-top: none
    box-shadow: inset 0px 40px 49px -39px rgba(0,0,0,0.5)

    li 
        padding: 17px 28px
        font-size: 18px
        line-height: 24px
        border-bottom: 1px solid $red

        @media (max-width: $screenXS)
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            padding: 10px
            font-size: 14px
            line-height: 24px

        &:last-child 
            border-bottom: none

.tooltip
    width: 245px
    position: absolute
    left: 50%
    bottom: calc(-100% + 50px)
    transform: translateX(-50%)
    background-color: #fff
    border: 1px solid #cc092f
    padding: 20px
    font-size: 12px
    color: #0a1931
    line-height: initial
    z-index: -1
    opacity: 0
    transition: opacity .3s ease-in-out
    box-shadow: 0 14px 16px 0 rgba(0,0,0,.3)

    @media (max-width: $screenXS)
        width: 200px
        padding: 15px
        bottom: auto
        top: 50%
        left: auto
        transform: translateY(-50%)
        right: 45px

    &:after
        content: ''
        width: 16px
        height: 12px
        position: absolute
        background: url("../images/triangle.png") 0 0 no-repeat
        left: 50%
        top: 100%
        transform: translateX(-50%)
        z-index: 2

        @media (max-width: $screenXS)
            left: auto
            right: -14px
            top: 50%
            transform: rotate(-90deg) translateX(5px)