.intro 
    position: relative
    box-sizing: border-box
    padding-top: 105px
    background-image: url("../images/bg-intro.jpg")
    background-repeat: no-repeat 
    background-size: cover
    min-height: 100vh

    @media (max-width: $screenXS)
        display: flex 
        flex-direction: column
        padding-top: 39px
        background-image: url("../images/poster-m.jpg")

    @media (max-width: $screenXXS)
        padding-top: 20px

    &:after 
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 300px
        background-image: linear-gradient(to top, rgba(10, 24, 48, 1) 0%, rgba(10, 24, 48, 1) 20%, rgba(10, 24, 48, 0) 90%, rgba(10, 24, 48, 0) 100%)
        pointer-events: none

        @media (max-width: $screenXXS)
            height: 150px

    &__wrapper 

        @media (max-width: $screenXS)
            flex-grow: 1
            display: flex 
            flex-direction: column

    &__content 
        position: relative
        margin-left: -13px
        max-width: 863px
        z-index: 1

        @media (max-width: $screenXS)
            flex-grow: 1
            margin-left: 0

    &__label 
        display: inline-block
        vertical-align: top
        margin: 0 0 10px 0
        padding: 0 25px
        font-weight: 700
        font-size: 35px
        line-height: 61px
        background-color: $red

        @media (max-width: $screenXS)
            font-size: 30px
            line-height: 53px

        @media (max-width: $screenXXS)
            margin-bottom: 5px
            padding: 0 12px
            font-size: 15px
            line-height: 27px

    &__title
        position: relative
        margin: 0 0 28px
        padding-left: 25px
        padding-right: 50px
        font-size: 44px
        line-height: 55px
        background-color: rgba(0, 0, 0, .7)

        @media (max-width: $screenXS)
            margin-bottom: 12px
            padding-top: 16px
            padding-right: 25px
            padding-bottom: 19px
            font-size: 34px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 6px
            padding-top: 8px
            padding-bottom: 10px
            padding-right: 13px
            font-size: 17px
            line-height: 20px

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            width: 8px
            background-color: $red

            @media (max-width: $screenXXS)
                width: 4px

    &__text
        margin: 0 0 92px
        max-width: 700px
        font-weight: 300
        font-size: 18px 
        line-height: 20px

        @media (max-width: $screenXS)
            margin-bottom: 8px
            max-width: 512px
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            margin-bottom: 4px
            font-size: 12px
            line-height: 15px

        span
            display: inline-block
            vertical-align: top
            padding-left: 25px
            padding-right: 15px
            background-color: rgba(0, 0, 0, .7)

            @media (max-width: $screenXS)
                padding-top: 10px
                padding-left: 25px

            @media (max-width: $screenXXS)
                padding-top: 5px
                padding-left: 13px

            &:first-child 
                padding-top: 10px
                padding-bottom: 10px

                @media (max-width: $screenXXS)
                    padding-top: 5px
                    padding-bottom: 5px

            &:last-child 
                padding-bottom: 20px
                line-height: 0

                @media (max-width: $screenXS)
                    padding-bottom: 26px

                @media (max-width: $screenXXS)
                    padding-bottom: 14px

    &__request-block 
        display: flex 
        flex-direction: column
        align-items: center
        padding-left: 14px
        width: 330px

        @media (max-width: $screenXS)
            padding-left: 0
            width: 380px

        @media (max-width: $screenXXS)
            width: 190px

    &__btn 
        margin-bottom: 10px
        width: 100%

        @media (max-width: $screenXXS)
            margin-bottom: 5px

    &__link
        @include hover
        padding: 0 8px
        text-transform: uppercase
        font-size: 12px
        line-height: 16px
        color: #fff 
        border-bottom: 1px solid #fff

        @media (max-width: $screenXS)
            position: absolute
            bottom: 28px
            left: 0
            padding-left: 0
            padding-right: 0
            width: 130px
            font-size: 20px
            line-height: 28px
            border-bottom: none 

            span 
                border-bottom: 1px solid #fff

        @media (max-width: $screenXXS)
            bottom: 14px
            width: 65px
            font-size: 10px
            line-height: 14px

    &__scroll-link 
        @include hover
        @include centerH
        bottom: 80px
        width: 20px
        height: 60px
        font-size: 0
        background-image: url("../images/mouse.png"), url("../images/arr.png")
        background-repeat: no-repeat 
        background-size: 100% auto, 8px 9px
        background-position: top center, bottom center
        z-index: 1
        transition: background-position 0.3s ease
        animation-delay: 0.5s
        animation-name: scroll-link
        animation-duration: 8s
        animation-iteration-count: infinite

        @media (max-width: $screenXS)
            bottom: 24px
            width: 30px
            height: 33px
            background-image: url("../images/scroll-m.png")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: center 
            animation: none

        @media (max-width: $screenXXS)
            bottom: 12px
            width: 15px
            height: 17px

@keyframes scroll-link 

    0% 
        background-position: top center, bottom center

    10% 

        background-position: top center, bottom 5px center

    15% 

        background-position: top center, bottom center

    25% 

        background-position: top center, bottom 5px center

    30% 

        background-position: top center, bottom center

    40% 

        background-position: top center, bottom 5px center

    45% 

        background-position: top center, bottom center

    55% 

        background-position: top center, bottom 5px center

    60% 

        background-position: top center, bottom center

    70% 

        background-position: top center, bottom 5px center

    75% 

        background-position: top center, bottom center

    85% 

        background-position: top center, bottom 5px center

    90% 

        background-position: top center, bottom center

    100% 

        background-position: top center, bottom 5px center
