.mailing-block
    box-sizing: border-box
    padding: 40px 60px 0
    max-height: calc(100% - 100px)
    font-size: 16px
    line-height: 20px
    overflow-y: auto

    @media (max-width: $screenXS)
        padding: 70px 30px 20px

    @media (max-width: $screenXXS)
        padding: 40px 15px 20px
        font-size: 13px
        line-height: 18px

    p 
        margin: 0 0 20px

        @media (max-width: $screenXXS)
            margin-bottom: 15px

    ul 
        @include list-reset
        margin-bottom: 60px

        @media (max-width: $screenXXS)
            margin-bottom: 20px

    li 
        position: relative

        &:before 
            content: "-"
            padding-right: 6px
