.modal-overlay
    position: fixed
    top: 0
    left: 0
    padding: 25px
    right: -40px
    bottom: 0
    display: flex
    flex-direction: column
    padding-right: 40px
    background-color: rgba(0, 0, 0, .8)
    overflow-y: scroll
    opacity: 0
    pointer-events: none 
    transition: opacity 0.3s ease
    z-index: -1

    @media (max-width: $screenS)
        right: 0
        padding-right: 25px

    @media (max-width: $screenXXS)
        padding: 15px

    &.opened
        z-index: 100
        opacity: 1
        pointer-events: auto

.modal 
    position: relative
    margin: auto
    box-sizing: border-box
    width: 840px
    color: $textColor
    background-color: #fff

    @media (max-width: $screenM)
        width: 100%

    &__close 
        @include btn-reset
        @include hover
        position: absolute
        top: 10px
        right: 10px
        width: 12px
        height: 12px

        @media (max-width: $screenXS)
            top: 25px
            right: 25px
            width: 32px
            height: 32px

        @media (max-width: $screenXXS)
            top: 15px
            right: 15px
            height: 24px
            width: 24px

        .modal._agreement &, .modal._mailing &
            right: 25px

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 5px
            left: -2px
            width: 17px
            height: 2px
            background-color: $red 
            transform: rotate(45deg)

            @media (max-width: $screenXS)
                top: 14px
                left: -6px
                width: 45px
                height: 4px

            @media (max-width: $screenXXS)
                top: 10px
                left: -3px
                width: 30px

        &:after 
            transform: rotate(-45deg)

    &__inner
        display: flex 
        flex-direction: column
        align-items: center
        padding-top: 36px
        padding-bottom: 27px
        box-sizing: border-box
        max-width: 100%

        @media (max-width: $screenXS)
            padding-bottom: 40px
            padding-top: 85px
            padding-left: 48px
            padding-right: 48px

        @media (max-width: $screenXXS)
            padding-bottom: 20px
            padding-top: 45px
            padding-left: 24px
            padding-right: 24px

    &__form 
        display: flex 
        flex-direction: column 
        align-items: center
        width: 686px
        max-width: 686px

        @media (max-width: $screenXS)
            width: 100%
            max-width: 100%

        ._question &
            width: 384px

            @media (max-width: $screenXS)
                width: 100%

    &__title 
        margin: 0 0 8px 
        text-align: center
        text-transform: uppercase
        font-size: 24px
        line-height: 30px
        color: $red

        @media (max-width: $screenXS)
            font-size: 30px
            line-height: 40px

        @media (max-width: $screenXXS)
            font-size: 15px
            line-height: 20px

    &__subtitle 
        margin: 0 0 26px
        font-size: 16px
        line-height: 20px

        @media (max-width: $screenXS)
            margin-bottom: 45px
            font-size: 20px
            line-height: 24px

        @media (max-width: $screenXXS)
            margin-bottom: 25px
            text-align: center
            font-size: 12px
            line-height: 16px

    &__text
        margin: 0 0 26px
        max-width: 100%
        font-size: 22px
        line-height: 26px

        @media (max-width: $screenXS)
            margin-bottom: 30px
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 14px
            line-height: 20px

        &:last-child 
            margin-bottom: 0

    &__headline 
        margin: 0 0 30px
        text-align: center
        font-size: 24px
        line-height: 30px

        @media (max-width: $screenXS)
            margin-bottom: 40px
            font-size: 30px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 20px
            line-height: 30px

    &__btn 
        min-width: 330px

        @media (max-width: $screenXXS)
            min-width: 100px
            width: 100%
            padding: 12px
            font-size: 14px
            line-height: 20px

    &__links 
        display: flex 
        flex-direction: column
        margin: 0 auto 
        width: 330px

        @media (max-width: $screenXS)
            width: 100%
            max-width: 495px

    &__link 
        margin-bottom: 20px
        width: 100%

        @media (max-width: $screenXS)
            margin-bottom: 30px
            font-size: 24px

        @media (max-width: $screenXXS)
            box-sizing: border-box
            margin-bottom: 20px
            padding: 10px
            height: 42px
            font-size: 13px
            line-height: 20px

    &__descr 
        margin: 0 0 24px
        text-align: center
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenXS)
            font-size: 24px
            line-height: 30px

            br 
                display: none

        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 14px
            line-height: 20px

    &._message 
        display: flex 
        flex-direction: column
        box-sizing: border-box
        padding-left: 45px
        padding-right: 45px
        width: 534px
        min-height: 300px

        @media (max-width: $screenM)
            width: 100%

        @media (max-width: $screenXS)
            padding-left: 0
            padding-right: 0

        @media (max-width: $screenXXS)
            min-height: 200px

        .modal__inner 
            flex-grow: 1
            justify-content: center

        .modal__text 
            text-align: center

    &._agreement
        display: flex 
        flex-direction: column
        width: 800px
        max-height: 100%
        overflow: hidden;

        @media (max-width: $screenM)
            width: 100%

    &._location,
    &._search 
        width: 534px

        @media (max-width: $screenM)
            width: 100%

    &._search 

        .modal__inner 
            padding: 52px 32px

    &._register 
        width: 534px

        @media (max-width: $screenM)
            width: 100%

    &._mailing 
        display: flex 
        flex-direction: column
        max-height: 100%
        overflow: hidden

        @media (max-width: $screenXS)
            padding-bottom: 20px

_:-ms-fullscreen,
:root #requestPopup
     display: block

