.promo
    padding-bottom: 55px
    background-image: linear-gradient(to bottom, rgba(10, 24, 48, 1) 0%, #050d19 100%)

    @media (max-width: $screenXS)
        padding-bottom: 70px

    @media (max-width: $screenXXS)
        padding-bottom: 35px
        overflow: hidden

    &__wrapper 
        display: flex 
        flex-direction: column 
        align-items: center

    &__slogan 
        margin: 0 auto 24px
        padding-top: 30px
        max-width: 880px
        text-transform: uppercase
        text-align: center
        font-weight: 700
        font-size: 28px
        line-height: 34px

        @media (max-width: $screenXS)
            padding-top: 45px
            max-width: 480px

        @media (max-width: $screenXXS)
            margin-bottom: 12px
            padding-top: 23px
            max-width: 240px
            font-size: 14px
            line-height: 17px
    
    &__headline 
        margin: 0 auto
        max-width: 690px
        text-align: center
        font-weight: 400
        font-size: 24px
        line-height: 30px

        br 
            display: none

            @media (max-width: $screenXS)
                display: block

        @media (max-width: $screenXS)
            max-width: 507px

        @media (max-width: $screenXXS)
            max-width: 254px
            font-size: 12px
            line-height: 15px


    &__request-block 
        display: flex 
        flex-direction: column
        align-items: center
        width: 330px

        @media (max-width: $screenXS)
            width: 380px

        @media (max-width: $screenXXS)
            width: 190px

    &__btn 
        margin-bottom: 20px
        width: 100%

        @media (max-width: $screenXS)
            margin-bottom: 50px

        @media (max-width: $screenXXS)
            margin-bottom: 25px

    &__link
        @include hover
        padding: 0 8px
        text-transform: uppercase
        font-size: 16px
        line-height: 20px
        color: $red 
        border-bottom: 1px solid $red

        @media (max-width: $screenXS)
            font-weight: 700
            font-size: 20px
            line-height: 28px
            color: #fff 
            border-bottom: 1px solid #fff

        @media (max-width: $screenXXS)
            padding: 0 4px
            font-size: 10px
            line-height: 14px

    &__text-block 
        display: flex
        margin-bottom: 70px
        padding-top: 60px
        padding-bottom: 105px
        padding-left: 22%
        box-sizing: border-box
        max-width: 100%
        background-image: url("../images/promo01.jpg"), url("../images/promo02.jpg")
        background-repeat: no-repeat 
        background-size: 36.878% auto
        background-position: top left, right 230px bottom 0

        @media (max-width: $screenL)
            padding-left: 8%
            padding-right: 8%

        @media (max-width: $screenXS)
            align-self: flex-start
            display: block
            margin-left: -30px
            margin-bottom: 58px
            width: calc(100% + 60px)
            min-width: calc(100% + 60px)
            padding-left: 70px
            padding-bottom: 28px
            padding-right: 30px
            background-size: 73% auto, 83% auto
            background-position: top 50px left, right bottom

        @media (max-width: $screenXXS)
            margin-left: -15px
            margin-bottom: 29px
            width: calc(100% + 30px)
            max-width: calc(100% + 30px)
            padding-left: 35px
            padding-bottom: 14px
            padding-right: 15px
            background-position: top 25px left, right bottom

    &__col 

        &:first-child 
            flex: none
            margin-right: 20.5%
            padding-top: 25px
            width: 40%

            @media (max-width: $screenXS)
                padding-top: 72px
                width: 100%

            @media (max-width: $screenXXS)
                width: auto
                max-width: 100%

            @media (max-width: $screenXXS)
                padding-top: 36px

        &:last-child 
            padding-top: 280px

            @media (max-width: $screenXS)
                margin-left: -40px
                padding-top: 102px
                width: 100%

            @media (max-width: $screenXXS)
                margin-left: -20px
                padding-top: 51px
                width: auto
                max-width: 100%

    &__text 
        margin: 0 0 24px
        font-weight: 300
        font-size: 20px
        line-height: 24px

        @media (max-width: $screenXS)
            margin-bottom: 35px
            font-size: 24px
            line-height: 28px

        @media (max-width: $screenXXS)
            margin-bottom: 18px
            font-size: 12px
            line-height: 14px

        a 
            font-weight: 400
            color: #fff

    &__lead 
        margin: 0 auto 40px
        max-width: 580px
        text-align: center
        font-weight: 400
        font-size: 24px
        line-height: 30px

        @media (max-width: $screenXS) 
            margin-bottom: 50px

        @media (max-width: $screenXXS)
            margin-bottom: 25px
            font-size: 12px
            line-height: 15px