.social-list
    @include list-reset 
    display: flex
    margin-top: 10px

    &__item 
        margin-right: 4px

        @media (max-width: $screenXS)
            margin-right: 10px

        @media (max-width: $screenXXS)
            margin-right: 5px

.social-btn 
    position: relative
    @include hover
    display: block
    width: 30px
    height: 30px
    background-color: #ccc
    border-radius: 50%

    @media (max-width: $screenXS)
        width: 60px
        height: 60px

    @media (max-width: $screenXXS)
        width: 30px
        height: 30px

    svg 
        @include center 
        fill: #fff

        @media (max-width: $screenXS)
            transform: translate(-50%, -50%) scale(1.8, 1.8)

        @media (max-width: $screenXXS)
            transform: translate(-50%, -50%) scale(0.9, 0.9)

    &._vk 
        background-color: #767676

    &._ok 
        background-color: #767676

    &._fb
        background-color: #3b5998

    &._youtube 
        background-color: #e52d27

    &._ig 
        background-color: #3d729f

    &._tw 
        background-color: #5ea9dd