.video-block
    
    &__wrapper 
        position: relative

    &__poster
        width: 100%
        height: auto
        display: block
        position: relative
        z-index: 1
        transition: all .3s ease-in-out .3s

        .play &
            opacity: 0
            pointer-events: none

    &__btn 
        @include hover
        @include center
        @include btn-reset
        width: 164px
        height: 164px
        background-image: url("../images/play.png")
        background-repeat: no-repeat
        background-size: contain 
        background-position: center
        transform: translate(-50%, -50%) scale(1)
        z-index: 2
        transition: all .3s ease-in-out

        @media (max-width: $screenL)
            width: 80px
            height: 80px

        @media (max-width: $screenXS)
            width: 128px
            height: 128px

        @media (max-width: $screenXXS)
            width: 64px
            height: 64px

        .play &
            transform: translate(-50%, -50%) scale(0)
            transform-origin: 50% 50%

    video, iframe
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0