@import normalize
@import fonts.scss
@import grid.sass


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%
    //font-size: 0.537061vw

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    font-family: $font
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: #fff
    background-color: #050d19

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow 
        height: 100vh
        overflow: hidden

.global-wrapper
    position: relative
    min-height: 100vh

.layout-positioner
    margin: 0 auto
    padding: 0 20px
    max-width: 1448px

    @media (max-width: $screenXS)
        padding: 0 30px
        max-width: 768px

    @media (max-width: $screenXXS)
        padding: 0 15px
        max-width: 640px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important 
    width: 1px !important 
    overflow: hidden

.scrollable 

    .mCSB_scrollTools
        width: 4px
        margin-right: 10px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 4px
        background-color: rgba(0, 0, 0, 0.2)
        border-radius: 2px

    .mCSB_scrollTools .mCSB_draggerRail
        background-color: $transparent

a
    &:hover,
    &:focus 
        text-decoration: none
