
@font-face {
  font-family: 'Datsun';
  src: url('../fonts/DatsunLight.eot');
  src: url('../fonts/DatsunLight.eot') format('embedded-opentype'),
         url('../fonts/DatsunLight.woff2') format('woff2'),
         url('../fonts/DatsunLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Datsun';
  src: url('../fonts/DatsunRegular.eot');
  src: url('../fonts/DatsunRegular.eot') format('embedded-opentype'),
         url('../fonts/DatsunRegular.woff2') format('woff2'),
         url('../fonts/DatsunRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Datsun';
  src: url('../fonts/DatsunBold.eot');
  src: url('../fonts/DatsunBold.eot') format('embedded-opentype'),
         url('../fonts/DatsunBold.woff2') format('woff2'),
         url('../fonts/DatsunBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
