<section class="intro">
    <div class="intro__wrapper layout-positioner">
        <div class="intro__content">
            <p class="intro__label">DATSUN ПРЕДСТАВЛЯЕТ:</p>
            <h1 class="intro__title">Всероссийский турнир <br>городов по уличной атлетике «Столица силы»</h1>
            <p class="intro__text"><span>Прими участие в уникальном соревновании по уличной атлетике. Заяви себя лидером своего города, измени его к лучшему и стань </span><span>примером для других!</span></p>
            <div class="intro__request-block">
                <a href="#" class="btn intro__btn js-modal-trigger" data-target="requestPopup">Я готов подать заявку!</a>
                <a href="#" class="intro__link"><span>ПОЛНЫЕ ПРАВИЛА КОНКУРСА</span></a>
            </div>
        </div>
        <a href="#promo" class="intro__scroll-link js-scroll-link">
            <span class="visualy-hidden">Вниз</span>
        </a>
    </div>
</section>