<div class="modal-overlay js-modal" id="message01Popup">
    <div class="modal _message">
        <button class="modal__close js-close" data-target="message01Popup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <p class="modal__text">Для завершения регистрации необходимо пройти по ссылке из&nbsp;письма, отправленного на&nbsp;указанный адрес электронной почты.</p>
        </div>
    </div>
</div>