<div class="modal-overlay js-modal" id="requestPopup">
    <div class="modal _request">
        <button class="modal__close js-close" data-target="requestPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">ПОДАЧА ЗАЯВКИ НА РОЛЬ ЛИДЕРА ГОРОДА</h3>
            <p class="modal__subtitle">Все поля обязательны для заполнения</p>
            <form action="#" method="post" class="form modal__form">
                <div class="form__row _picker">
                    <div class="form__field-wrapper">
                        <input type="radio" class="form__radio visually-hidden" id="male" name="gender" checked>
                        <label for="male" class="form__radio-label">Мужчина</label>
                    </div>
                    <div class="form__field-wrapper">
                        <input type="radio" class="form__radio visually-hidden" id="female" name="gender">
                        <label for="female" class="form__radio-label">Женщина</label>
                    </div>
                </div>
                <div class="form__fieldset">
                    <input type="text" id="lastname" class="form__field" value="" placeholder="Фамилия (кириллицей)">
                    <input type="text" id="firstname" class="form__field" value="" placeholder="Имя (кириллицей)">
                    <input type="email" id="email" class="form__field _error" value="error_@mail.coom" placeholder="E-mail (латиницей)">
                    <input type="tel" id="phone" class="form__field" value="+7 (910) 123 45 67" placeholder="Контактный телефон">
                    <input type="date" id="birthday" class="form__field" value="" placeholder="Дата рождения">
                    <input type="text" id="vk" class="form__field" value="vk.com/egor_02" placeholder="Ссылка на профиль в соцсети">
                </div>
                <p class="form__headline">Почтовый адрес для получения стартового пакета Лидера города <span class="question">
                    <i>?</i>
                    <span class="tooltip">В своей статье от 1994-го года журнал «Before & After» отследил фразу «Lorem ipsum» до философского трактата Цицерона О пределах добра и зла,</span>
                </span>
                </p>
                <div class="form__fieldset">
                    <input type="text" id="homecity" class="form__field" value="" placeholder="Город">
                    <input type="text" id="street" class="form__field" value="" placeholder="Улица">
                    <div class="form__wrap-small">
                        <input type="text" id="building" class="form__field" value="" placeholder="Дом">
                        <input type="text" id="apartment" class="form__field" value="" placeholder="Квартира">
                    </div>
                    <input type="text" id="size" class="form__field" value="" placeholder="Размер футболки">
                    <textarea name="message" id="message" class="form__message _fullwdth" placeholder="Напиши, почему именно ты должен стать Лидером своего города…"></textarea>
                </div>
                <div class="form__field-wrapper">
                    <input type="checkbox" class="form__checkbox visually-hidden" id="personal">
                        <label for="personal" class="form__checkbox-label">Я согласен на <a href="#">обработку персональных данных</a></label>
                </div>
                <div class="form__field-wrapper">
                    <input type="checkbox" class="form__checkbox visually-hidden" id="adv">
                        <label for="adv" class="form__checkbox-label">Я согласен получать <a href="#">рекламные сообщения</a></label>
                </div>
                <button class="btn form__submit btn--red disabled" disabled>Отправить</button>
                <p class="form__note">Проверь указанные данные</p>
                <a href="#" class="form__link"><span>не удается отправить заявку?</span></a>
            </form>
        </div>
    </div>
</div>