<div class="modal-overlay js-modal" id="questionPopup">
    <div class="modal _question">
        <button class="modal__close js-close" data-target="questionPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">Задать вопрос</h3>
            <p class="modal__subtitle">Все поля обязательны для заполнения</p>
            <form action="#" method="post" class="form modal__form">
                <div class="form__field-wrapper">
                    <input type="text" id="firstname" class="form__field" placeholder="Имя">
                </div>
                <div class="form__field-wrapper">
                    <input type="email" id="email" class="form__field" placeholder="E-mail">
                </div>
                <div class="form__field-wrapper">
                    <input type="text" id="subject" class="form__field" placeholder="Тема обращения">
                </div>
                <textarea name="message" id="message" class="form__message _fullwdth" placeholder="Сообщение"></textarea>
                <div class="form__upload-block">
                    <p class="form__upload-label">Загрузить файл:</p>
                    <div class="form__upload">
                        <input type="file" id="file" class="form__file">
                        <div class="form__upload-link">Обзор</div>
                    </div>
                </div>
                <div class="captcha-block" id="g-recaptcha"></div>
                <button class="btn form__submit btn--red disabled" disabled>Отправить</button>
            </form>
        </div>
    </div>
</div>