<div class="modal-overlay js-modal" id="message02Popup">
    <div class="modal _message">
        <button class="modal__close js-close" data-target="message02Popup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <p class="modal__text">Заявка принята на рассмотрение.</p>
            <p class="modal__text">Результат будет выслан <br>на&nbsp;указанный при регистрации адрес электронной почты в&nbsp;течение <br>20&nbsp;дней. </p>
        </div>
    </div>
</div>