<div class="modal-overlay js-modal" id="searchPopup">
    <div class="modal _search">
        <button class="modal__close js-close" data-target="searchPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <p class="modal__descr">В конкурсе участвуют только города, <br>указанные в списке.</p>
            <p class="modal__descr">Выбери город, за который будешь выступать.</p>
            <form action="#" method="post" class="form search-form">
                <div class="form__field-wrapper search-block">
                    <input type="text" id="search" class="form__field js-search" placeholder="Поиск">
                    <div class="search-block__dropdown js-dropdown">
                        <ul class="dropdown-list">
                            <li>Москва</li>
                            <li>Мурманск</li>
                            <li>Магнитогорск</li>
                            <li>Махачкала</li>
                        </ul>
                    </div>
                </div>
                <button class="visually-hidden">Отправить</button>
            </form>
        </div>
    </div>
</div>