<div class="modal-overlay js-modal" id="registerPopup">
    <div class="modal _register">
        <button class="modal__close js-close" data-target="registerPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <h1 class="modal__headline">Заполнить форму <br>регистрации</h1>
            <div class="register-block modal__links">
                <a href="#" class="modal__link btn btn--vk">Автоматически через ВК</a>
                <a href="#" class="modal__link btn btn--fb">Автоматически через FB</a>
                <a href="#" class="modal__link btn btn--bordered btn--lowercase">Вручную на сайте</a>
            </div>
        </div>
    </div>
</div>