<div class="modal-overlay js-modal" id="locationPopup">
    <div class="modal _location">
        <button class="modal__close js-close" data-target="locationPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="modal__inner">
            <h1 class="modal__headline">Привет! <br>Твой город <span class="location">Москва</span>?</h1>
            <div class="modal__links">
                <a href="#" class="modal__link btn btn--red js-close">Да, верно</a>
                <a href="#" class="modal__link btn btn--bordered">Нет, выберу другой</a>
            </div>
        </div>
    </div>
</div>