<div class="modal-overlay js-modal" id="agreementPopup">
    <div class="modal _agreement js-inner-scroll">
        <button class="modal__close js-close" data-target="agreementPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="agreement-block js-scroll-block">
            <div class="js-scroll-inner">
                <p>«Настоящей подписью я выражаю свое безусловное согласие ООО «Ниссан Мэнуфэкчуринг РУС» (далее — «Общество») на обработку вышеуказанных персональных данных с использованием и без использования средств автоматизации, включая их передачу, в том числе трансграничную,  компаниям группы Nissan, авторизованным дилерам Nissan/Infiniti/Datsun, а также организациям, с которыми Общество осуществляет взаимодействие на основании соответствующих договоров (соглашений), в составе, необходимом для достижения следующих целей:</p>
                <ul>
                    <li>хранения в информационных системах для оптимизации процессов взаимодействия;</li>
                    <li>технической поддержки информационных систем;</li>
                    <li>статистических и аналитических целей;</li>
                    <li>проведения маркетинговых исследований</li>
                </ul>
                <p>Настоящее согласие действует в течение 25 лет со дня его подписания. <br>Я уведомлен о том, что в соответствии со статьей 9 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» настоящее согласие может быть отозвано мной путем направления в письменной форме уведомления Обществу заказным почтовым отправлением с описью вложения по адресу: 194362, г. Санкт-Петербург, пос. Парголово, Комендантский пр-т, д. 140, либо вручения лично под подпись уполномоченным представителям Общества».</p>
            </div>
        </div>
        <div class="button-block">
            <a href="#" class="modal__btn btn btn--red disabled js-onscroll">Я согласен</a>
        </div>
    </div>
</div>