<div class="modal-overlay js-modal" id="mailingPopup">
    <div class="modal _mailing js-inner-scroll">
        <button class="modal__close js-close" data-target="mailingPopup">
            <span class="visually-hidden">Закрыть</span>
        </button>
        <div class="mailing-block js-scroll-block">
            <div class="js-scroll-inner">
                <p>К рассылке:</p>
                <p>«Настоящим я подтверждаю, что согласен получать информацию о товарах, услугах и мероприятиях с помощью средств связи (интернет, телефон, телефонные звонки, почта).»</p>
            </div>
        </div>
        <div class="button-block">
            <a href="#" class="modal__btn btn btn--red disabled js-onscroll">Я согласен</a>
        </div>
    </div>
</div>