<section class="promo" id="promo">
    <div class="promo__wrapper layout-positioner">
        <h2 class="promo__slogan">Ты сам сформируешь команду своего города из атлетов и просто активных людей</h2>
        <p class="promo__headline">Для вас будут подготовлены специальные задания <br>разного уровня сложности и разной тематики.</p>
        <div class="promo__text-block">
            <div class="promo__col">
                <p class="promo__text">Вы будете выполнять задания и снимать их на камеру, как и ваши соперники из других городов – участников конкурса. Больше выполненных заданий – больше призовых баллов для родного города и больше призов и подарков для тебя и твоей команды.</p>
                <p class="promo__text">В случае победы ты становишься героем, а город получает статус Столицы Силы, и в следующем году принимает у себя большой праздник уличной атлетики.</p>
            </div>
            <div class="promo__col">
                <p class="promo__text">Если ты пока не видишь себя в роли лидера, но готов к роли командного игрока, просто подожди, пока&nbsp;регистрация откроется для всех желающих. Когда именно? <br>Следи за объявлениями на <a href="vk.com/datsunrus">vk.com/datsunrus</a> и ты узнаешь всё&nbsp;вовремя.</p>
            </div>
        </div>
        <p class="promo__lead">Ты ждал именно этого момента <br>и&nbsp;этой возможности изменить свою жизнь и&nbsp;воплотить мечты! </p>
        <div class="promo__request-block">
            <a href="#" class="btn promo__btn js-modal-trigger" data-target="request">Я готов подать заявку!</a>
            <a href="#" class="promo__link"><span>ПОЛНЫЕ ПРАВИЛА КОНКУРСА</span></a>
        </div>
    </div>
</section>