<section class="video-block">
    <div class="video-block__wrapper">
        <img class="video-block__poster" src="assets/images/poster.jpg" alt="">
        <iframe  id="video" width="1600" height="900" src="https://www.youtube.com/embed/3A25OgNNThY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!--<video src="" width="1600" height="900" poster="assets/images/poster.jpg"></video>-->
        <button class="video-block__btn js-play" type="button">
            <span class="visually-hidden">Воспроизвести</span>
        </button>
    </div>
</section>