<footer class="page-footer">
    <div class="page-footer__wrapper layout-positioner">
        <div class="page-footer__nav">
            <ul class="footer-navigation">
                <li class="footer-navigation__item">
                    <a href="#" class="footer-navigation__link">Покупка</a>
                    <ul class="subnav">
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">DATSUN on-DO</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">DATSUN mi-DO</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">КОРПОРАТИВНЫМ КЛИЕНТАМ</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">DATSUN FINANCE</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">НАЙТИ ДИЛЕРА</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-navigation__item">
                    <a href="#" class="footer-navigation__link">Владельцам</a>
                    <ul class="subnav">
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Сервис</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Сервисные пакеты</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Помощь на дороге</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-navigation__item">
                    <a href="#" class="footer-navigation__link">О бренде</a>
                    <ul class="subnav">
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Бренд DATSUN</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Блог Datsun</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Задать вопрос</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#" class="subnav__link">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-navigation__item">
                    <a href="#" class="footer-navigation__link">Datsun в соцсетях</a>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#" class="social-btn _vk">
                                <span class="visually-hidden">ВКонтакте</span>
                                <svg width="22" height="13">
                                    <use xlink:href="#vk" />
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-btn _ok">
                                <span class="visually-hidden">Одноклассники</span>
                                <svg width="14" height="23">
                                    <use xlink:href="#ok" />
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-btn _fb">
                                <span class="visually-hidden">Facebook</span>
                                <svg width="10" height="16">
                                    <use xlink:href="#fb" />
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-btn _youtube">
                                <span class="visually-hidden">ВКонтакте</span>
                                <svg width="17" height="12">
                                    <use xlink:href="#youtube" />
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-btn _ig">
                                <span class="visually-hidden">Instagram</span>
                                <svg width="14" height="14">
                                    <use xlink:href="#ig" />
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#" class="social-btn _tw">
                                <span class="visually-hidden">Twitter</span>
                                <svg width="15" height="14">
                                    <use xlink:href="#tw" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="page-footer__bottom">
            <ul class="page-footer__links">
                <li>
                    <a href="#" class="page-footer__link">Datsun в мире</a>
                </li>
                <li>
                    <a href="#" class="page-footer__link">Новости</a>
                </li>
            </ul>
            <ul class="page-footer__links">
                <li>
                    <a href="#" class="page-footer__link">Правила и условия</a>
                </li>
                <li>
                    <a class="page-footer__link">© DATSUN 2017 </a>
                </li>
            </ul>
        </div>
    </div>
</footer>




