/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th, ul {
  padding: 0; }

ul {
  margin: 0; }

@font-face {
  font-family: 'Datsun';
  src: url("../fonts/DatsunLight.eot");
  src: url("../fonts/DatsunLight.eot") format("embedded-opentype"), url("../fonts/DatsunLight.woff2") format("woff2"), url("../fonts/DatsunLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Datsun';
  src: url("../fonts/DatsunRegular.eot");
  src: url("../fonts/DatsunRegular.eot") format("embedded-opentype"), url("../fonts/DatsunRegular.woff2") format("woff2"), url("../fonts/DatsunRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Datsun';
  src: url("../fonts/DatsunBold.eot");
  src: url("../fonts/DatsunBold.eot") format("embedded-opentype"), url("../fonts/DatsunBold.woff2") format("woff2"), url("../fonts/DatsunBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block; }

html {
  width: 100%; }

html * {
  max-height: 1000000px; }

body {
  margin: 0;
  width: 100%;
  font-family: "Datsun", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #050d19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.overflow {
    height: 100vh;
    overflow: hidden; }

.global-wrapper {
  position: relative;
  min-height: 100vh; }

.layout-positioner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1448px; }
  @media (max-width: 768px) {
    .layout-positioner {
      padding: 0 30px;
      max-width: 768px; } }
  @media (max-width: 640px) {
    .layout-positioner {
      padding: 0 15px;
      max-width: 640px; } }

.hidden {
  display: none !important; }

.invisible {
  position: absolute;
  z-index: -100;
  visibility: hidden; }

.svg-wrapper {
  position: absolute;
  opacity: 0;
  z-index: -100; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.scrollable .mCSB_scrollTools {
  width: 4px;
  margin-right: 10px; }

.scrollable .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.scrollable .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255, 255, 255, 0); }

a:hover, a:focus {
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.iScrollIndicator {
  background-color: rgba(255, 255, 255, 0) !important; }

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/**
 * Swiper 4.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 13, 2017
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

.page-footer {
  position: relative;
  padding-top: 46px;
  color: #000;
  background-color: #fff;
  overflow: hidden; }
  @media (max-width: 640px) {
    .page-footer {
      padding-top: 23px; } }
  @media (max-width: 768px) {
    .page-footer__wrapper {
      padding-left: 50px; } }
  @media (max-width: 640px) {
    .page-footer__wrapper {
      padding-left: 25px; } }
  .page-footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .page-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 38px;
    width: 100%; }
    @media (max-width: 768px) {
      .page-footer__links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 640px) {
      .page-footer__links {
        padding-top: 10px;
        padding-bottom: 19px; } }
    @media (max-width: 768px) {
      .page-footer__links:first-child {
        position: absolute;
        top: 214px;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: 250px; } }
    @media (max-width: 640px) {
      .page-footer__links:first-child {
        top: 107px;
        width: 125px; } }
    .page-footer__links:first-child li {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -moz-box-flex: 0;
      -ms-flex: none;
      flex: none; }
      .page-footer__links:first-child li:first-child {
        width: 193px; }
        @media (max-width: 768px) {
          .page-footer__links:first-child li:first-child {
            width: auto; } }
      .page-footer__links:first-child li:nth-child(2) {
        width: -webkit-calc(50% - 193px);
        width: calc(50% - 193px); }
        @media (max-width: 768px) {
          .page-footer__links:first-child li:nth-child(2) {
            width: auto; } }
    @media (max-width: 900px) {
      .page-footer__links:last-child {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px); } }
    @media (max-width: 640px) {
      .page-footer__links:last-child {
        width: -webkit-calc(100% + 10px);
        width: calc(100% + 10px); } }
    .page-footer__links:last-child li:first-child {
      width: 235px; }
      @media (max-width: 768px) {
        .page-footer__links:last-child li:first-child {
          width: auto; } }
  .page-footer__link {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #000; }
    @media (max-width: 768px) {
      .page-footer__link {
        font-size: 22px; } }
    @media (max-width: 640px) {
      .page-footer__link {
        font-size: 11px;
        line-height: 20px; } }

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .footer-navigation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: -15px; } }
  @media (max-width: 640px) {
    .footer-navigation {
      margin-bottom: -8px; } }
  .footer-navigation__item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px; }
    @media (max-width: 768px) {
      .footer-navigation__item {
        margin-bottom: 28px;
        font-size: 22px; } }
    @media (max-width: 640px) {
      .footer-navigation__item {
        margin-bottom: 14px;
        font-size: 11px;
        line-height: 20px; } }
    .footer-navigation__item:first-child {
      width: 26.316%; }
      @media (max-width: 768px) {
        .footer-navigation__item:first-child {
          width: 100%; } }
    .footer-navigation__item:nth-child(2) {
      width: 23.684%; }
      @media (max-width: 768px) {
        .footer-navigation__item:nth-child(2) {
          width: 100%; } }
    .footer-navigation__item:nth-child(3) {
      width: 23.684%; }
      @media (max-width: 768px) {
        .footer-navigation__item:nth-child(3) {
          width: 100%; } }
    @media (max-width: 768px) {
      .footer-navigation__item:last-child {
        margin-bottom: 60px;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; } }
    @media (max-width: 640px) {
      .footer-navigation__item:last-child {
        margin-bottom: 30px; } }
  .footer-navigation__link {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: #000; }
    .footer-navigation__link:hover {
      opacity: 0.7; }

.subnav {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 1280px) {
    .subnav {
      font-size: 14px; } }
  @media (max-width: 1024px) {
    .subnav {
      font-size: 13px; } }
  @media (max-width: 768px) {
    .subnav {
      margin-top: 15px;
      font-size: 22px; } }
  @media (max-width: 640px) {
    .subnav {
      margin-top: 8px;
      font-size: 11px; } }
  .subnav__item {
    font-weight: 300; }
    @media (max-width: 1024px) {
      .subnav__item {
        margin-bottom: 20px;
        line-height: 20px; } }
    @media (max-width: 768px) {
      .subnav__item {
        margin-bottom: 22px;
        line-height: 30px; } }
    @media (max-width: 640px) {
      .subnav__item {
        margin-bottom: 11px;
        line-height: 15px; } }
  .subnav__link {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: #000; }
    .subnav__link:hover {
      opacity: 0.7; }

.btn {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #cc092f;
  font-size: 18px;
  line-height: 30px;
  background-color: #fff; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    opacity: 0.7; }
  @media (max-width: 768px) {
    .btn {
      padding: 18px 15px;
      font-size: 22px; } }
  @media (max-width: 640px) {
    .btn {
      padding: 9px 8px;
      font-size: 11px;
      line-height: 15px; } }
  .btn--red {
    background-color: #cc092f;
    color: #fff; }
    .btn--red.disabled {
      background-color: #484848;
      pointer-events: none; }
  .btn--bordered {
    padding: 14px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #cc092f; }
  .btn--vk {
    color: #fff;
    background-color: #5181b8; }
  .btn--fb {
    color: #fff;
    background-color: #3b5998; }
  .btn--lowercase {
    text-transform: initial;
    font-weight: 400;
    color: #000; }

.form ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5; }

.form :-moz-placeholder {
  color: #000;
  opacity: 0.5; }

.form ::-moz-placeholder {
  color: #000;
  opacity: 0.5; }

.form :-ms-input-placeholder {
  color: #000;
  opacity: 0.5; }

.form__wrap-small {
  margin-right: 14px;
  width: -webkit-calc(50% - 7px);
  width: calc(50% - 7px); }
  @media (max-width: 768px) {
    .form__wrap-small {
      margin-right: 0;
      width: 100%; } }
  .form__wrap-small input:first-child {
    width: -webkit-calc(36% - 7px);
    width: calc(36% - 7px); }
    @media (max-width: 768px) {
      .form__wrap-small input:first-child {
        width: 100%; } }
  .form__wrap-small input:last-child {
    width: 59.6%; }
    @media (max-width: 768px) {
      .form__wrap-small input:last-child {
        width: 100%; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }
  @media (max-width: 640px) {
    .form__row._picker {
      display: block; } }
  .form__row._picker .form__field-wrapper {
    width: auto; }
    @media (max-width: 768px) {
      .form__row._picker .form__field-wrapper {
        padding-left: 42px;
        padding-right: 32px; } }
    @media (max-width: 640px) {
      .form__row._picker .form__field-wrapper {
        padding-left: 0;
        padding-right: 10px; } }

.form__field-wrapper {
  position: relative;
  width: 100%; }

.form__radio-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 29px;
  min-width: 155px;
  font-size: 14px;
  line-height: 18px; }
  @media (max-width: 768px) {
    .form__radio-label {
      margin-bottom: 30px;
      padding-left: 45px;
      font-size: 24px;
      line-height: 32px; } }
  @media (max-width: 640px) {
    .form__radio-label {
      margin-bottom: 15px;
      padding-left: 40px;
      font-size: 14px;
      line-height: 24px; } }
  .form__radio-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #cc092f;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    @media (max-width: 768px) {
      .form__radio-label:before {
        width: 30px;
        height: 30px; } }
    @media (max-width: 640px) {
      .form__radio-label:before {
        width: 22px;
        height: 22px; } }

.form input[type="radio"]:checked + label:before {
  background-color: #cc092f; }

.form__fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%; }
  @media (max-width: 768px) {
    .form__fieldset {
      display: block; } }
  .form__fieldset .form__field {
    margin-right: 14px;
    width: -webkit-calc(50% - 7px);
    width: calc(50% - 7px); }
    @media (max-width: 768px) {
      .form__fieldset .form__field {
        margin-right: 0;
        width: 100%; } }
    .form__fieldset .form__field:nth-child(even) {
      margin-right: 0; }

.form__field {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-bottom: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 19px;
  width: 100%;
  height: 46px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #cc092f; }
  .form__field:focus {
    outline: none; }
  @media (max-width: 768px) {
    .form__field {
      margin-bottom: 20px;
      padding: 20px;
      height: 64px;
      font-size: 24px; } }
  @media (max-width: 640px) {
    .form__field {
      margin-bottom: 10px;
      padding: 10px;
      height: 44px;
      font-size: 14px; } }
  .form__field._error {
    padding: 9px 18px;
    background-color: #fae6ea;
    border: 2px solid #cc092f; }
    @media (max-width: 768px) {
      .form__field._error {
        padding: 19px; } }
    @media (max-width: 640px) {
      .form__field._error {
        padding: 9px; } }

.form__headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 17px;
  width: 100%;
  font-size: 16px;
  line-height: 20px; }
  @media (max-width: 768px) {
    .form__headline {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 640px) {
    .form__headline {
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px; } }
  .form__headline .question {
    display: inline;
    position: relative;
    vertical-align: top;
    margin-left: 8px;
    width: 14px;
    height: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #cc092f;
    border: 1px solid #cc092f;
    border-radius: 50%; }
    @media (max-width: 768px) {
      .form__headline .question {
        vertical-align: middle;
        width: 30px;
        min-width: 30px;
        height: 30px;
        font-size: 28px;
        line-height: 30px;
        border-width: 2px; } }
    .form__headline .question i {
      font-style: normal;
      cursor: pointer; }
      .form__headline .question i:hover ~ .tooltip {
        z-index: 1;
        opacity: 1; }

.form__message {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-bottom: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 19px;
  width: 100%;
  min-height: 80px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #cc092f;
  resize: none; }
  .form__message:focus {
    outline: none; }
  @media (max-width: 768px) {
    .form__message {
      margin-bottom: 26px;
      padding: 20px;
      min-height: 230px;
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 640px) {
    .form__message {
      padding: 10px;
      min-height: 104px;
      font-size: 14px;
      line-height: 20px; } }
  ._question .form__message {
    min-height: 104px; }
  .form__message._error {
    padding: 9px 18px;
    background-color: #fae6ea;
    border: 2px solid #cc092f; }

.form__checkbox-label {
  position: relative;
  display: block;
  margin-bottom: 7px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 768px) {
    .form__checkbox-label {
      margin-bottom: 32px;
      padding-left: 45px;
      font-size: 24px;
      line-height: 26px; } }
  @media (max-width: 640px) {
    .form__checkbox-label {
      margin-bottom: 15px;
      padding-left: 34px;
      font-size: 14px;
      line-height: 20px; } }
  .form__checkbox-label a {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    .form__checkbox-label a:hover {
      opacity: 0.7; }
  .form__checkbox-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #cc092f; }
    @media (max-width: 768px) {
      .form__checkbox-label:before {
        width: 28px;
        height: 28px; } }
    @media (max-width: 640px) {
      .form__checkbox-label:before {
        width: 20px;
        height: 20px; } }

.form input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 2px;
  height: 4px;
  border-top: 1px solid #cc092f;
  border-left: 1px solid #cc092f;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  @media (max-width: 768px) {
    .form input[type="checkbox"]:checked + label:after {
      top: -12px;
      left: 12px;
      width: 15px;
      height: 30px; } }
  @media (max-width: 640px) {
    .form input[type="checkbox"]:checked + label:after {
      top: -9px;
      left: 10px;
      width: 12px;
      height: 22px; } }

.form__submit {
  margin-top: 18px;
  margin-bottom: 15px;
  min-width: 330px; }
  @media (max-width: 768px) {
    .form__submit {
      min-width: 380px; } }
  @media (max-width: 640px) {
    .form__submit {
      padding: 12px;
      min-width: 100%;
      font-size: 14px;
      line-height: 20px; } }

.form__note {
  margin: 0 0 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px; }
  @media (max-width: 768px) {
    .form__note {
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 640px) {
    .form__note {
      font-size: 14px;
      line-height: 18px; } }

.form__link {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #cc092f; }
  .form__link:hover {
    opacity: 0.7; }
  @media (max-width: 768px) {
    .form__link {
      font-size: 20px;
      line-height: 24px; } }
  @media (max-width: 640px) {
    .form__link {
      font-size: 12px;
      line-height: 20px; } }
  .form__link span {
    border-bottom: 1px solid #cc092f; }

.form__upload-block {
  margin-top: 23px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  padding-left: 20px;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #cc092f; }
  @media (max-width: 768px) {
    .form__upload-block {
      margin-bottom: 30px;
      padding: 6px;
      padding-left: 20px; } }
  @media (max-width: 640px) {
    .form__upload-block {
      margin-top: 0;
      padding-left: 10px; } }

.form__upload-label {
  margin: 0;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 768px) {
    .form__upload-label {
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 640px) {
    .form__upload-label {
      font-size: 14px;
      line-height: 20px; } }

.form__upload {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.form__file {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0; }
  .form__file:hover + .upload__link {
    opacity: 0.7; }

.form__upload-link {
  padding: 9px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #cc092f;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  @media (max-width: 768px) {
    .form__upload-link {
      padding: 15px;
      font-size: 20px;
      line-height: 30px; } }
  @media (max-width: 640px) {
    .form__upload-link {
      padding: 10px;
      font-size: 16px;
      line-height: 20px; } }

.form .captcha-block {
  margin-bottom: 22px; }
  @media (max-width: 640px) {
    .form .captcha-block {
      max-width: 100%;
      overflow: hidden; } }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.search-form {
  margin: 0 auto;
  width: 380px; }
  @media (max-width: 640px) {
    .search-form {
      width: 100%; } }
  .search-form .form__field-wrapper {
    width: 100%; }
  .search-form .form__field {
    margin-bottom: 0;
    padding: 17px 28px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: #cc092f; }
    @media (max-width: 768px) {
      .search-form .form__field {
        padding: 20px;
        height: 64px;
        font-size: 24px;
        line-height: 24px; } }
    @media (max-width: 640px) {
      .search-form .form__field {
        padding: 10px;
        height: 44px;
        font-size: 14px;
        line-height: 24px; } }

.search-block {
  position: relative;
  margin-top: 20px; }
  .search-block__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease; }
    .search-block__dropdown.show {
      max-height: 10000px; }

.dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #cc092f;
  border-top: none;
  -webkit-box-shadow: inset 0px 40px 49px -39px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 40px 49px -39px rgba(0, 0, 0, 0.5); }
  .dropdown-list li {
    padding: 17px 28px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid #cc092f; }
    @media (max-width: 768px) {
      .dropdown-list li {
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 640px) {
      .dropdown-list li {
        padding: 10px;
        font-size: 14px;
        line-height: 24px; } }
    .dropdown-list li:last-child {
      border-bottom: none; }

.tooltip {
  width: 245px;
  position: absolute;
  left: 50%;
  bottom: -webkit-calc(-100% + 50px);
  bottom: calc(-100% + 50px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #cc092f;
  padding: 20px;
  font-size: 12px;
  color: #0a1931;
  line-height: initial;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  -webkit-box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.3); }
  @media (max-width: 768px) {
    .tooltip {
      width: 200px;
      padding: 15px;
      bottom: auto;
      top: 50%;
      left: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 45px; } }
  .tooltip:after {
    content: '';
    width: 16px;
    height: 12px;
    position: absolute;
    background: url("../images/triangle.png") 0 0 no-repeat;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2; }
    @media (max-width: 768px) {
      .tooltip:after {
        left: auto;
        right: -14px;
        top: 50%;
        -webkit-transform: rotate(-90deg) translateX(5px);
        -ms-transform: rotate(-90deg) translateX(5px);
        transform: rotate(-90deg) translateX(5px); } }

.intro {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 105px;
  background-image: url("../images/bg-intro.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh; }
  @media (max-width: 768px) {
    .intro {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 39px;
      background-image: url("../images/poster-m.jpg"); } }
  @media (max-width: 640px) {
    .intro {
      padding-top: 20px; } }
  .intro:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0a1830), color-stop(20%, #0a1830), color-stop(90%, rgba(10, 24, 48, 0)), to(rgba(10, 24, 48, 0)));
    background-image: -webkit-linear-gradient(bottom, #0a1830 0%, #0a1830 20%, rgba(10, 24, 48, 0) 90%, rgba(10, 24, 48, 0) 100%);
    background-image: linear-gradient(to top, #0a1830 0%, #0a1830 20%, rgba(10, 24, 48, 0) 90%, rgba(10, 24, 48, 0) 100%);
    pointer-events: none; }
    @media (max-width: 640px) {
      .intro:after {
        height: 150px; } }
  @media (max-width: 768px) {
    .intro__wrapper {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .intro__content {
    position: relative;
    margin-left: -13px;
    max-width: 863px;
    z-index: 1; }
    @media (max-width: 768px) {
      .intro__content {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-left: 0; } }
  .intro__label {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 0;
    padding: 0 25px;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;
    background-color: #cc092f; }
    @media (max-width: 768px) {
      .intro__label {
        font-size: 30px;
        line-height: 53px; } }
    @media (max-width: 640px) {
      .intro__label {
        margin-bottom: 5px;
        padding: 0 12px;
        font-size: 15px;
        line-height: 27px; } }
  .intro__title {
    position: relative;
    margin: 0 0 28px;
    padding-left: 25px;
    padding-right: 50px;
    font-size: 44px;
    line-height: 55px;
    background-color: rgba(0, 0, 0, 0.7); }
    @media (max-width: 768px) {
      .intro__title {
        margin-bottom: 12px;
        padding-top: 16px;
        padding-right: 25px;
        padding-bottom: 19px;
        font-size: 34px;
        line-height: 40px; } }
    @media (max-width: 640px) {
      .intro__title {
        margin-bottom: 6px;
        padding-top: 8px;
        padding-bottom: 10px;
        padding-right: 13px;
        font-size: 17px;
        line-height: 20px; } }
    .intro__title:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 8px;
      background-color: #cc092f; }
      @media (max-width: 640px) {
        .intro__title:before {
          width: 4px; } }
  .intro__text {
    margin: 0 0 92px;
    max-width: 700px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px; }
    @media (max-width: 768px) {
      .intro__text {
        margin-bottom: 8px;
        max-width: 512px;
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 640px) {
      .intro__text {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 15px; } }
    .intro__text span {
      display: inline-block;
      vertical-align: top;
      padding-left: 25px;
      padding-right: 15px;
      background-color: rgba(0, 0, 0, 0.7); }
      @media (max-width: 768px) {
        .intro__text span {
          padding-top: 10px;
          padding-left: 25px; } }
      @media (max-width: 640px) {
        .intro__text span {
          padding-top: 5px;
          padding-left: 13px; } }
      .intro__text span:first-child {
        padding-top: 10px;
        padding-bottom: 10px; }
        @media (max-width: 640px) {
          .intro__text span:first-child {
            padding-top: 5px;
            padding-bottom: 5px; } }
      .intro__text span:last-child {
        padding-bottom: 20px;
        line-height: 0; }
        @media (max-width: 768px) {
          .intro__text span:last-child {
            padding-bottom: 26px; } }
        @media (max-width: 640px) {
          .intro__text span:last-child {
            padding-bottom: 14px; } }
  .intro__request-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 14px;
    width: 330px; }
    @media (max-width: 768px) {
      .intro__request-block {
        padding-left: 0;
        width: 380px; } }
    @media (max-width: 640px) {
      .intro__request-block {
        width: 190px; } }
  .intro__btn {
    margin-bottom: 10px;
    width: 100%; }
    @media (max-width: 640px) {
      .intro__btn {
        margin-bottom: 5px; } }
  .intro__link {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    border-bottom: 1px solid #fff; }
    .intro__link:hover {
      opacity: 0.7; }
    @media (max-width: 768px) {
      .intro__link {
        position: absolute;
        bottom: 28px;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 130px;
        font-size: 20px;
        line-height: 28px;
        border-bottom: none; }
        .intro__link span {
          border-bottom: 1px solid #fff; } }
    @media (max-width: 640px) {
      .intro__link {
        bottom: 14px;
        width: 65px;
        font-size: 10px;
        line-height: 14px; } }
  .intro__scroll-link {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 80px;
    width: 20px;
    height: 60px;
    font-size: 0;
    background-image: url("../images/mouse.png"), url("../images/arr.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto, 8px 9px;
    background-size: 100% auto, 8px 9px;
    background-position: top center, bottom center;
    z-index: 1;
    -webkit-transition: background-position 0.3s ease;
    transition: background-position 0.3s ease;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-name: scroll-link;
    animation-name: scroll-link;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    .intro__scroll-link:hover {
      opacity: 0.7; }
    @media (max-width: 768px) {
      .intro__scroll-link {
        bottom: 24px;
        width: 30px;
        height: 33px;
        background-image: url("../images/scroll-m.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center;
        -webkit-animation: none;
        animation: none; } }
    @media (max-width: 640px) {
      .intro__scroll-link {
        bottom: 12px;
        width: 15px;
        height: 17px; } }

@-webkit-keyframes scroll-link {
  0% {
    background-position: top center, bottom center; }
  10% {
    background-position: top center, bottom 5px center; }
  15% {
    background-position: top center, bottom center; }
  25% {
    background-position: top center, bottom 5px center; }
  30% {
    background-position: top center, bottom center; }
  40% {
    background-position: top center, bottom 5px center; }
  45% {
    background-position: top center, bottom center; }
  55% {
    background-position: top center, bottom 5px center; }
  60% {
    background-position: top center, bottom center; }
  70% {
    background-position: top center, bottom 5px center; }
  75% {
    background-position: top center, bottom center; }
  85% {
    background-position: top center, bottom 5px center; }
  90% {
    background-position: top center, bottom center; }
  100% {
    background-position: top center, bottom 5px center; } }

@keyframes scroll-link {
  0% {
    background-position: top center, bottom center; }
  10% {
    background-position: top center, bottom 5px center; }
  15% {
    background-position: top center, bottom center; }
  25% {
    background-position: top center, bottom 5px center; }
  30% {
    background-position: top center, bottom center; }
  40% {
    background-position: top center, bottom 5px center; }
  45% {
    background-position: top center, bottom center; }
  55% {
    background-position: top center, bottom 5px center; }
  60% {
    background-position: top center, bottom center; }
  70% {
    background-position: top center, bottom 5px center; }
  75% {
    background-position: top center, bottom center; }
  85% {
    background-position: top center, bottom 5px center; }
  90% {
    background-position: top center, bottom center; }
  100% {
    background-position: top center, bottom 5px center; } }

.promo {
  padding-bottom: 55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a1830), to(#050d19));
  background-image: -webkit-linear-gradient(top, #0a1830 0%, #050d19 100%);
  background-image: linear-gradient(to bottom, #0a1830 0%, #050d19 100%); }
  @media (max-width: 768px) {
    .promo {
      padding-bottom: 70px; } }
  @media (max-width: 640px) {
    .promo {
      padding-bottom: 35px;
      overflow: hidden; } }
  .promo__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .promo__slogan {
    margin: 0 auto 24px;
    padding-top: 30px;
    max-width: 880px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px; }
    @media (max-width: 768px) {
      .promo__slogan {
        padding-top: 45px;
        max-width: 480px; } }
    @media (max-width: 640px) {
      .promo__slogan {
        margin-bottom: 12px;
        padding-top: 23px;
        max-width: 240px;
        font-size: 14px;
        line-height: 17px; } }
  .promo__headline {
    margin: 0 auto;
    max-width: 690px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px; }
    .promo__headline br {
      display: none; }
      @media (max-width: 768px) {
        .promo__headline br {
          display: block; } }
    @media (max-width: 768px) {
      .promo__headline {
        max-width: 507px; } }
    @media (max-width: 640px) {
      .promo__headline {
        max-width: 254px;
        font-size: 12px;
        line-height: 15px; } }
  .promo__request-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 330px; }
    @media (max-width: 768px) {
      .promo__request-block {
        width: 380px; } }
    @media (max-width: 640px) {
      .promo__request-block {
        width: 190px; } }
  .promo__btn {
    margin-bottom: 20px;
    width: 100%; }
    @media (max-width: 768px) {
      .promo__btn {
        margin-bottom: 50px; } }
    @media (max-width: 640px) {
      .promo__btn {
        margin-bottom: 25px; } }
  .promo__link {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #cc092f;
    border-bottom: 1px solid #cc092f; }
    .promo__link:hover {
      opacity: 0.7; }
    @media (max-width: 768px) {
      .promo__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        border-bottom: 1px solid #fff; } }
    @media (max-width: 640px) {
      .promo__link {
        padding: 0 4px;
        font-size: 10px;
        line-height: 14px; } }
  .promo__text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
    padding-top: 60px;
    padding-bottom: 105px;
    padding-left: 22%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    background-image: url("../images/promo01.jpg"), url("../images/promo02.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 36.878% auto;
    background-size: 36.878% auto;
    background-position: top left, right 230px bottom 0; }
    @media (max-width: 1280px) {
      .promo__text-block {
        padding-left: 8%;
        padding-right: 8%; } }
    @media (max-width: 768px) {
      .promo__text-block {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        display: block;
        margin-left: -30px;
        margin-bottom: 58px;
        width: -webkit-calc(100% + 60px);
        width: calc(100% + 60px);
        min-width: -webkit-calc(100% + 60px);
        min-width: calc(100% + 60px);
        padding-left: 70px;
        padding-bottom: 28px;
        padding-right: 30px;
        -webkit-background-size: 73% auto, 83% auto;
        background-size: 73% auto, 83% auto;
        background-position: top 50px left, right bottom; } }
    @media (max-width: 640px) {
      .promo__text-block {
        margin-left: -15px;
        margin-bottom: 29px;
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px);
        max-width: -webkit-calc(100% + 30px);
        max-width: calc(100% + 30px);
        padding-left: 35px;
        padding-bottom: 14px;
        padding-right: 15px;
        background-position: top 25px left, right bottom; } }
  .promo__col:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 20.5%;
    padding-top: 25px;
    width: 40%; }
    @media (max-width: 768px) {
      .promo__col:first-child {
        padding-top: 72px;
        width: 100%; } }
    @media (max-width: 640px) {
      .promo__col:first-child {
        width: auto;
        max-width: 100%; } }
    @media (max-width: 640px) {
      .promo__col:first-child {
        padding-top: 36px; } }
  .promo__col:last-child {
    padding-top: 280px; }
    @media (max-width: 768px) {
      .promo__col:last-child {
        margin-left: -40px;
        padding-top: 102px;
        width: 100%; } }
    @media (max-width: 640px) {
      .promo__col:last-child {
        margin-left: -20px;
        padding-top: 51px;
        width: auto;
        max-width: 100%; } }
  .promo__text {
    margin: 0 0 24px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px; }
    @media (max-width: 768px) {
      .promo__text {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 28px; } }
    @media (max-width: 640px) {
      .promo__text {
        margin-bottom: 18px;
        font-size: 12px;
        line-height: 14px; } }
    .promo__text a {
      font-weight: 400;
      color: #fff; }
  .promo__lead {
    margin: 0 auto 40px;
    max-width: 580px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px; }
    @media (max-width: 768px) {
      .promo__lead {
        margin-bottom: 50px; } }
    @media (max-width: 640px) {
      .promo__lead {
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 15px; } }

.video-block__wrapper {
  position: relative; }

.video-block__poster {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s; }
  .play .video-block__poster {
    opacity: 0;
    pointer-events: none; }

.video-block__btn {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  width: 164px;
  height: 164px;
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .video-block__btn:hover {
    opacity: 0.7; }
  .video-block__btn:focus {
    outline: none; }
  @media (max-width: 1280px) {
    .video-block__btn {
      width: 80px;
      height: 80px; } }
  @media (max-width: 768px) {
    .video-block__btn {
      width: 128px;
      height: 128px; } }
  @media (max-width: 640px) {
    .video-block__btn {
      width: 64px;
      height: 64px; } }
  .play .video-block__btn {
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

.video-block video, .video-block iframe {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px; }
  .social-list__item {
    margin-right: 4px; }
    @media (max-width: 768px) {
      .social-list__item {
        margin-right: 10px; } }
    @media (max-width: 640px) {
      .social-list__item {
        margin-right: 5px; } }

.social-btn {
  position: relative;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%; }
  .social-btn:hover {
    opacity: 0.7; }
  @media (max-width: 768px) {
    .social-btn {
      width: 60px;
      height: 60px; } }
  @media (max-width: 640px) {
    .social-btn {
      width: 30px;
      height: 30px; } }
  .social-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff; }
    @media (max-width: 768px) {
      .social-btn svg {
        -webkit-transform: translate(-50%, -50%) scale(1.8, 1.8);
        -ms-transform: translate(-50%, -50%) scale(1.8, 1.8);
        transform: translate(-50%, -50%) scale(1.8, 1.8); } }
    @media (max-width: 640px) {
      .social-btn svg {
        -webkit-transform: translate(-50%, -50%) scale(0.9, 0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9, 0.9);
        transform: translate(-50%, -50%) scale(0.9, 0.9); } }
  .social-btn._vk {
    background-color: #767676; }
  .social-btn._ok {
    background-color: #767676; }
  .social-btn._fb {
    background-color: #3b5998; }
  .social-btn._youtube {
    background-color: #e52d27; }
  .social-btn._ig {
    background-color: #3d729f; }
  .social-btn._tw {
    background-color: #5ea9dd; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  right: -40px;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1; }
  @media (max-width: 900px) {
    .modal-overlay {
      right: 0;
      padding-right: 25px; } }
  @media (max-width: 640px) {
    .modal-overlay {
      padding: 15px; } }
  .modal-overlay.opened {
    z-index: 100;
    opacity: 1;
    pointer-events: auto; }

.modal {
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 840px;
  color: #000;
  background-color: #fff; }
  @media (max-width: 1024px) {
    .modal {
      width: 100%; } }
  .modal__close {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px; }
    .modal__close:focus {
      outline: none; }
    .modal__close:hover {
      opacity: 0.7; }
    @media (max-width: 768px) {
      .modal__close {
        top: 25px;
        right: 25px;
        width: 32px;
        height: 32px; } }
    @media (max-width: 640px) {
      .modal__close {
        top: 15px;
        right: 15px;
        height: 24px;
        width: 24px; } }
    .modal._agreement .modal__close, .modal._mailing .modal__close {
      right: 25px; }
    .modal__close:before, .modal__close:after {
      content: "";
      position: absolute;
      top: 5px;
      left: -2px;
      width: 17px;
      height: 2px;
      background-color: #cc092f;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      @media (max-width: 768px) {
        .modal__close:before, .modal__close:after {
          top: 14px;
          left: -6px;
          width: 45px;
          height: 4px; } }
      @media (max-width: 640px) {
        .modal__close:before, .modal__close:after {
          top: 10px;
          left: -3px;
          width: 30px; } }
    .modal__close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .modal__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%; }
    @media (max-width: 768px) {
      .modal__inner {
        padding-bottom: 40px;
        padding-top: 85px;
        padding-left: 48px;
        padding-right: 48px; } }
    @media (max-width: 640px) {
      .modal__inner {
        padding-bottom: 20px;
        padding-top: 45px;
        padding-left: 24px;
        padding-right: 24px; } }
  .modal__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 686px;
    max-width: 686px; }
    @media (max-width: 768px) {
      .modal__form {
        width: 100%;
        max-width: 100%; } }
    ._question .modal__form {
      width: 384px; }
      @media (max-width: 768px) {
        ._question .modal__form {
          width: 100%; } }
  .modal__title {
    margin: 0 0 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    color: #cc092f; }
    @media (max-width: 768px) {
      .modal__title {
        font-size: 30px;
        line-height: 40px; } }
    @media (max-width: 640px) {
      .modal__title {
        font-size: 15px;
        line-height: 20px; } }
  .modal__subtitle {
    margin: 0 0 26px;
    font-size: 16px;
    line-height: 20px; }
    @media (max-width: 768px) {
      .modal__subtitle {
        margin-bottom: 45px;
        font-size: 20px;
        line-height: 24px; } }
    @media (max-width: 640px) {
      .modal__subtitle {
        margin-bottom: 25px;
        text-align: center;
        font-size: 12px;
        line-height: 16px; } }
  .modal__text {
    margin: 0 0 26px;
    max-width: 100%;
    font-size: 22px;
    line-height: 26px; }
    @media (max-width: 768px) {
      .modal__text {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 640px) {
      .modal__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px; } }
    .modal__text:last-child {
      margin-bottom: 0; }
  .modal__headline {
    margin: 0 0 30px;
    text-align: center;
    font-size: 24px;
    line-height: 30px; }
    @media (max-width: 768px) {
      .modal__headline {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 40px; } }
    @media (max-width: 640px) {
      .modal__headline {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px; } }
  .modal__btn {
    min-width: 330px; }
    @media (max-width: 640px) {
      .modal__btn {
        min-width: 100px;
        width: 100%;
        padding: 12px;
        font-size: 14px;
        line-height: 20px; } }
  .modal__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    width: 330px; }
    @media (max-width: 768px) {
      .modal__links {
        width: 100%;
        max-width: 495px; } }
  .modal__link {
    margin-bottom: 20px;
    width: 100%; }
    @media (max-width: 768px) {
      .modal__link {
        margin-bottom: 30px;
        font-size: 24px; } }
    @media (max-width: 640px) {
      .modal__link {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
        height: 42px;
        font-size: 13px;
        line-height: 20px; } }
  .modal__descr {
    margin: 0 0 24px;
    text-align: center;
    font-size: 18px;
    line-height: 24px; }
    @media (max-width: 768px) {
      .modal__descr {
        font-size: 24px;
        line-height: 30px; }
        .modal__descr br {
          display: none; } }
    @media (max-width: 640px) {
      .modal__descr {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px; } }
  .modal._message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
    width: 534px;
    min-height: 300px; }
    @media (max-width: 1024px) {
      .modal._message {
        width: 100%; } }
    @media (max-width: 768px) {
      .modal._message {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 640px) {
      .modal._message {
        min-height: 200px; } }
    .modal._message .modal__inner {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .modal._message .modal__text {
      text-align: center; }
  .modal._agreement {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 800px;
    max-height: 100%;
    overflow: hidden; }
    @media (max-width: 1024px) {
      .modal._agreement {
        width: 100%; } }
  .modal._location, .modal._search {
    width: 534px; }
    @media (max-width: 1024px) {
      .modal._location, .modal._search {
        width: 100%; } }
  .modal._search .modal__inner {
    padding: 52px 32px; }
  .modal._register {
    width: 534px; }
    @media (max-width: 1024px) {
      .modal._register {
        width: 100%; } }
  .modal._mailing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden; }
    @media (max-width: 768px) {
      .modal._mailing {
        padding-bottom: 20px; } }

_:-ms-fullscreen,
:root #requestPopup {
  display: block; }

.agreement-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 37px 57px;
  max-height: -webkit-calc(100% - 120px);
  max-height: calc(100% - 120px);
  font-size: 16px;
  line-height: 20px;
  overflow-y: auto; }
  @media (max-width: 768px) {
    .agreement-block {
      padding-top: 70px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 640px) {
    .agreement-block {
      padding-top: 40px;
      padding-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 13px;
      line-height: 18px; } }
  .agreement-block p {
    margin: 0 0 20px; }
    @media (max-width: 640px) {
      .agreement-block p {
        margin-bottom: 15px; } }
  .agreement-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 60px; }
    @media (max-width: 640px) {
      .agreement-block ul {
        margin-bottom: 20px; } }
  .agreement-block li {
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      .agreement-block li {
        margin-bottom: 15px; } }

.button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 57px;
  height: 106px;
  min-height: 106px; }
  @media (max-width: 640px) {
    .button-block {
      height: 84px;
      min-height: 84px; } }

.mailing-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px 0;
  max-height: -webkit-calc(100% - 100px);
  max-height: calc(100% - 100px);
  font-size: 16px;
  line-height: 20px;
  overflow-y: auto; }
  @media (max-width: 768px) {
    .mailing-block {
      padding: 70px 30px 20px; } }
  @media (max-width: 640px) {
    .mailing-block {
      padding: 40px 15px 20px;
      font-size: 13px;
      line-height: 18px; } }
  .mailing-block p {
    margin: 0 0 20px; }
    @media (max-width: 640px) {
      .mailing-block p {
        margin-bottom: 15px; } }
  .mailing-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 60px; }
    @media (max-width: 640px) {
      .mailing-block ul {
        margin-bottom: 20px; } }
  .mailing-block li {
    position: relative; }
    .mailing-block li:before {
      content: "-";
      padding-right: 6px; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
