.page-footer
    position: relative
    padding-top: 46px
    color: $textColor
    background-color: #fff

    overflow: hidden

    @media (max-width: $screenXXS)
        padding-top: 23px

    &__wrapper 

        @media (max-width: $screenXS)
            padding-left: 50px

        @media (max-width: $screenXXS)
            padding-left: 25px

    &__bottom 
        display: flex

    &__links 
        @include list-reset
        display: flex 
        padding-top: 20px
        padding-bottom: 38px
        width: 100%

        @media (max-width: $screenXS)
            flex-direction: column

        @media (max-width: $screenXXS)
            padding-top: 10px
            padding-bottom: 19px

        &:first-child

            @media (max-width: $screenXS)
                position: absolute
                top: 214px
                right: 0
                padding-top: 0
                padding-bottom: 0
                width: 250px

            @media (max-width: $screenXXS)
                top: 107px
                width: 125px

            li 
                flex: none

                &:first-child 
                    width: 193px

                    @media (max-width: $screenXS)
                        width: auto

                &:nth-child(2)
                    width: calc(50% - 193px)

                    @media (max-width: $screenXS)
                        width: auto

        &:last-child

            @media (max-width: $screenS)
                width: calc(100% + 20px)

            @media (max-width: $screenXXS)
                width: calc(100% + 10px)

            li 

                &:first-child
                    width: 235px

                    @media (max-width: $screenXS)
                        width: auto


    &__link 
        @include list-reset
        text-transform: uppercase
        font-weight: 400
        font-size: 16px
        line-height: 40px
        color: $textColor

        @media (max-width: $screenXS)
            font-size: 22px

        @media (max-width: $screenXXS)
            font-size: 11px
            line-height: 20px

.footer-navigation
    @include list-reset
    display: flex

    @media (max-width: $screenXS)
        flex-direction: column
        margin-bottom: -15px

    @media (max-width: $screenXXS)
        margin-bottom: -8px

    &__item 
        flex: none
        font-weight: 400
        text-transform: uppercase
        font-size: 16px
        line-height: 40px

        @media (max-width: $screenXS)
            margin-bottom: 28px
            font-size: 22px

        @media (max-width: $screenXXS)
            margin-bottom: 14px
            font-size: 11px
            line-height: 20px

        &:first-child 
            width: 26.316%

            @media (max-width: $screenXS)
                width: 100%

        &:nth-child(2)
            width: 23.684%

            @media (max-width: $screenXS)
                width: 100%

        &:nth-child(3)
            width: 23.684%

            @media (max-width: $screenXS)
                width: 100%

        &:last-child 

            @media (max-width: $screenXS)
                margin-bottom: 60px
                order: -1

            @media (max-width: $screenXXS)
                margin-bottom: 30px

    &__link 
        @include hover 
        color: $textColor

.subnav
    @include list-reset

    @media (max-width: $screenL)
        font-size: 14px

    @media (max-width: $screenM)
        font-size: 13px

    @media (max-width: $screenXS)
        margin-top: 15px
        font-size: 22px

    @media (max-width: $screenXXS)
        margin-top: 8px
        font-size: 11px

    &__item 
        font-weight: 300

        @media (max-width: $screenM)
            margin-bottom: 20px
            line-height: 20px

        @media (max-width: $screenXS)
            margin-bottom: 22px
            line-height: 30px

        @media (max-width: $screenXXS)
            margin-bottom: 11px
            line-height: 15px

    &__link 
        @include hover 
        color: $textColor